body {
  background-color: #cccccc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0.2rem;
  border-radius: 10px;
  background: linear-gradient(180deg,rgb(29, 12, 32), rgb(101, 31, 112));
  width: 90%;
  display: flex;
  justify-content: center;
}

.container-poll {
  background: linear-gradient(0deg, rgb(29, 12, 32), rgb(101, 31, 112));
  width: 95%;
  border-radius: 10px;
  margin: 20px;
}

.header {
  text-align: center;
  padding: 1rem;
}

.header-title {
  color: #fecd23;
  font-weight: 600;
  margin-bottom: 2.5rem;
  font-size: 35px;
}

.header-text {
  color: white;
  padding: 0 1rem;
}