body {
  background-color: #cccccc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input {
  width: 70%;
  height: 22px;
  padding: 8px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 0;
  margin: 10px;
  align-self: center;
  justify-self: center;
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px #2b2b2b;
}

button {
  height: 40px;
  background-color: #1d0c20;
  color: white;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 0;
  padding: 5px 30px;
  cursor: pointer;
}

object {
  width: 100%;
  height: 200px;
}

.container {
  margin: 0.2rem;
  border-radius: 10px;
  background: linear-gradient(180deg, rgb(29, 12, 32), rgb(101, 31, 112));
  width: 90%;
  margin: auto;
}

.header {
  text-align: center;
  padding: 1rem;
}

.header-title {
  color: #fecd23;
  font-weight: 600;
  margin-bottom: 2.5rem;
  font-size: 35px;
}

.header-text {
  color: white;
  padding: 0 1rem;
}

.container-poll {
  background: linear-gradient(0deg, rgb(29, 12, 32), rgb(101, 31, 112));
  width: 95%;
  border-radius: 10px;
  margin: auto;
}

.poll-title {
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  padding: 1rem;
}

.form-poll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-cards {
  display: flex;
  padding: 2rem;
  justify-content: space-around;
}

.card {
  background: linear-gradient(180deg, #3c5bee, #73cfff);
  border: 15px solid #2637db;
  border-radius: 10px;
  padding: 20px;
  width: 20%;
}

.card-title {
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 1rem;
}

.container-button {
  display: flex;
  justify-content: center;
  padding: 0.1rem;
}

.footer {
  text-align: center;
  padding-bottom: 1rem;
  color: #fff;
}
